
body {
    margin:0;
    padding: 0;
    background-color: #34495e;
}


/* navbar style start */
.navbar {
    padding: 20px;
    font-family: 'pacifico';
    background-color: cadetblue;
}
.brand {
    padding:20px;
    margin-left: 30px;
    color: palegreen;
    font-size: 30px;
}

.navbar-content {
    padding:10px;
    font-size: 20px;
    display: flex;

}

.nav-link {
    color: gold;
}

.navItem:hover {
    background-color: gold;
    color: gold;
    
}
/* navbar style end *
/* banner style start */
.banner {
    display: flex;
    margin-top: 10px;
    gap:10px;
    font-size: 20px;
    font-family: 'pacifico';
    color:gold;
    justify-content: center;
    align-items: center;
}
/* banner style end */


/* Skills section  */



/* Skills section end */

/* main section start */

.work {
    gap: 80vh;
    padding: 10px;
    margin: 0%;
    width: 80%;
    display: flex;
    flex-direction: end;
}

.work h2 {
    border: #34495e;
}

.row {
    display: flex;
    flex-direction: row;
    
}

#row1 {
    display: relative;
    right: 10em;
}
#row2 {
    align-items: flex-end;
}

.col-12 img {
    display: flex;
    width: 800px;
    height: 400px;
    gap: 10px;
    border: 1px solid rgb(255, 238, 0);
    border-radius: 20px;
    padding: 5px;
    flex: 1 1 100%;
}

.col-4 img {
    width: 250px;
    height: 250px;
    border: 1px solid rgb(255, 238, 0);
    border-radius: 20px;
    padding: 5px;
    flex: 1 1 100%;
}



h2 {
    font-family: 'pacifico';
    font-size: 33px;
    color: gold;
    border-bottom: 3px solid red;
}





/* main section end */

footer {
    
    
}

















/* footer style start */

footer {
    margin-top: 100px;
}

.row a {
    font-size: 30px;
    font-family: 'pacifico';
    color: gold;
}

.row a:hover {
    background-color: gold;
    color: black;
}

/* footer style end */