
body {
    margin:0;
    padding: 0;
    background-color: #34495e;
}


/* navbar style start */
.navbar {
    padding: 20px;
    font-family: 'pacifico';
    background-color: cadetblue;
}
.brand {
    padding:20px;
    margin-left: 30px;
    color: palegreen;
    font-size: 30px;
}

.navbar-content {
    padding:10px;
    font-size: 20px;
    display: flex;

}

.nav-link {
    color: gold;
}

.navItem:hover {
    background-color: gold;
    color: gold;
    
}
/* navbar style end *
/* banner style start */
.banner {
    display: flex;
    margin-top: 10px;
    gap:10px;
    font-size: 20px;
    font-family: 'pacifico';
    color:gold;
    justify-content: center;
    align-items: center;
}
/* banner style end */


/* main section start */

.work {
    background-color: white;
    display: flex;
    padding: 50px;
    margin: 0%;
}

.container-fluid {
    margin-left:30px;
    border-radius: 0%;


}

.work img {
    width: 250px;
    height: 250px;
    gap: 10px;
    border: 5px solid black;
    padding: 30px;
    
}

h2 {
    font-family: 'pacifico';
    font-size: 33px;
    color: gold;
    margin-bottom: 10px;
    border-bottom: 3px solid red;
}





/* main section end */


















/* footer style start */

footer {
    margin-top: 100px;
}

.row a {
    font-size: 30px;
    font-family: 'pacifico';
    color: gold;
}

.row a:hover {
    background-color: gold;
    color: black;
}

/* footer style end */