/* navbar style start */
.navbar {
    padding: 20px;
    font-family: 'pacifico';
    background-color: cadetblue;
}
.brand {
    padding:20px;
    margin-left: 30px;
    color: palegreen;
    font-size: 30px;
}

.navbar-content {
    padding:10px;
    font-size: 20px;
    display: flex;

}

.nav-link {
    color: gold;
}

.navItem:hover {
    background-color: gold;
    color: gold;
    
}
/* navbar style end *
/* banner style start */
.banner {
    display: flex;
    margin-top: 10px;
    gap:10px;
    font-size: 20px;
    font-family: 'pacifico';
    color:purple;
    justify-content: center;
    align-items: center;
}
/* banner style end */





/* footer style start */


.row {
    background-color: red;
}

.row a {
    font-size: 30px;
    
    font-family: 'pacifico';
    color: gold;
}

/* footer style end */